# Functions

## Question 1
### Description: To print natural nos.

In [1]:
def naturalno(n):
    cnt=1;
    while(cnt<=n):
        print(cnt,end="  ");
        cnt=cnt+1;
    print()
    return

naturalno(9);
naturalno(15);

1  2  3  4  5  6  7  8  9
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15

## Question 2
### Description: To print the factorial of the given no.

In [2]:
def fact(n):
    fact=1;
    while(n!=0):
        fact=fact*n;
        n=n-1;
    return fact;

print(fact(5));
print(fact(4));
print(fact(3));

120
24
6

## Question 3
### Description : To count the palindrome between 2 nos

In [4]:
def palindrome(n1,n2):
    cnt=0;
    while(n1!=n2):
        sum=0;
        buffer=n1;
        while(n1!=0):
            r=n1%10;
            sum=(sum*10)+r;
            n1=n1//10;
        if(buffer==sum):
            cnt=cnt+1;
        n1=buffer;
        n1=n1+1;
    return cnt;
print(palindrome(10,30));

2

## Question 4
### Description : Sum of even nos.

In [7]:
def even(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;
    
print(even(10));

20

## Question 5
### Description : To find the factorial of the given no.

In [5]:
def factors(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end="  ");
        i=i+1
    return;

print(factors(12));

1  2  3  4  6  None

## Question 6
### Description : Intro of List

In [8]:
list1=[1,2,3,4,5];
#Entire List 
print(list1);
#List[0]
print(list1[0]);

[1, 2, 3, 4, 5]
1

## Question 7
### Description : List using For.

In [10]:
list2=["Akhil","Aavind","Anil","Akash"];
for x in list2:
    print(x,end= " ");

Akhil Aavind Anil Akash

## Question 8
### Description: List with index and limit list

In [14]:
list1=[1,2,3,4,5,6,7];
for x in list1:
    print(x,end=" ");
    
print();
print(list1[4]);
print(list1[3:6]);
print(list1[0:3]);
print(list1[:3]);
print(list1[:7]);

1 2 3 4 5 6 7
5
[4, 5, 6]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

## Question 9
### Description : List and elimination of nos

In [26]:
list1=[1,2,3,4,5,6,7,8,9,10];
for x in list1:
    print(x,end="  ");
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[::2]);
print(list1[::3]);
print(list1[::4]);
print(list1[::-2]);
print(list1[-1]);
print(list1[-2]);

1  2  3  4  5  6  7  8  9  10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
[]
9

## Question 10
### Description: Replacement, Deletion & Concatination  of element  into List.

In [24]:
list1=["ashish","anil","akhil",1];
print(list1);

list1[2]=15;
print(list1);

del list1[3];
print(list1);

list1[1]="GITAM";
print(list1);

list2=[1,2,3];

print(list2);

print(list1 + list2);

print(list2 + list1);

['ashish', 'anil', 'akhil', 1]
['ashish', 'anil', 15, 1]
['ashish', 'anil', 15]
['ashish', 'GITAM', 15]
[1, 2, 3]
['ashish', 'GITAM', 15, 1, 2, 3]
[1, 2, 3, 'ashish', 'GITAM', 15]

## Question 11
### Description : To Append & Count the elements.

In [31]:
list1=[1,2,3,4,5];
print(list1);
del list1[2];
print(list1);

#list1[4]=5;
print(len(list1));
list1.append(15);
list1.append(150);
list1.append(1);
list1.append(3);
print(list1);
print(list1.count(1));
print(list1.count(3));

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3]
2
1

## Question 12
### Description : To find index and insert in the given position.

In [46]:
list1=["xyz","abc","pqr",1,5,"xyz","xyz"];
print(list1);
print(list1.index("xyz"));
print(list1.index(1));
print(len(list1));
list1.insert(2,2019);
print(list1);
print(len(list1));
list1.insert(4,2020);
print(list1);

['xyz', 'abc', 'pqr', 1, 5, 'xyz', 'xyz']
0
3
7
['xyz', 'abc', 2019, 'pqr', 1, 5, 'xyz', 'xyz']
8
['xyz', 'abc', 2019, 'pqr', 2020, 1, 5, 'xyz', 'xyz']

## Question 13
### Description : Remove & Reverse function.

In [44]:
list1=["xyz","abc","pqr",1,5,"xyz","xyz"];
print(list1);
list1.remove("xyz");
print(list1);
list1.remove("xyz");
print(list1);

list1.reverse();
print(list1);

['xyz', 'abc', 'pqr', 1, 5, 'xyz', 'xyz']
['abc', 'pqr', 1, 5, 'xyz', 'xyz']
['abc', 'pqr', 1, 5, 'xyz']
['xyz', 5, 1, 'pqr', 'abc']